# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ToonTanks.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Acer\Documents\c++_projects\UnrealCppDeveloperCourse\ToonTanksProjectSetup_4.25\ToonTanksProjectSetup_4.25\ToonTanks\.idea\.idea.ToonTanks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
